@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

body {
    width: 210mm;
    height: 297mm;
    margin-left: auto;
    margin-right: auto;
    font-family: 'SolaimanLipi', Arial, sans-serif !important;
    font-size: 14px;
}


#main {
    width: 200mm;
    height: 230mm;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.center-text {
    text-align: center;
    line-height: 1.5px;
}

.border-area {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-around;
    line-height: 1px;
}

.hz-line {
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    width: 100%;
}

.issue-details {
    line-height: .1px;

}

.bold-text {
    font-weight: bold;
}

.large-text {
    font-weight: bold;
    font-size: 18px;
}

.underline-text {
    text-decoration: underline;
}

.header-text {
    padding-left: 5px;
    padding-right: 5px;
}

.other-text {
    padding: 10px;
    line-height: 3px;
    font-size: 13px;
}